* {
    margin: 0;
    font-family: 'Work Sans';
}
body {
    font-weight: 400;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: .5s;
}
.btn-primary:hover {
    color: #FF900E;
    background-color: #131313;
}

/* header styles */
.header-area {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 90px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.menu-list {
    display: flex;
}
.menu-list li {
    list-style: none;
    margin-right: 4em;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    cursor: pointer;
    transition: .5s;
}
.menu-list li:hover {
    color: #FF900E;
    font-style: italic;
}
.header-text {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    padding: 100px 200px 50px 200px;
}
.header-text p {
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-img {
    display: block;
    text-align: center;
}

/* team styles */
.team-wrapper {
    display: flex;
    align-items: center;
    padding: 100px 100px;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-text {
    margin-left: 3em;
}
.team-text h3 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.team-text h3 > span {
    font-weight: 700;
    color: #131313;
}
.team-text .fea-color {
    color: #FF900E;
}
.team-text p {
    padding: 24px 0px;
}

/* feature styles  */
.feature-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 130px;
}
.feature-text {
    padding-right: 12em;
    padding-left: 0;
}
.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 3px solid #FF900E;
    padding-left: 15px;
}
.feature-overview {
    color: #727272;
    padding: 15px 0px;
}
.feature-solo-item {
    margin-top: 20px;
    padding: 40px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #ddd;
}
.feature-solo-item h4 {
    font-weight: 600;
    font-size: 20px;
}
.feature-solo-item p {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
.feature-btn {
    padding: 35px;
    border-radius: 10px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 30px;
    position: absolute;
    left: 11.5em;
    top: 48.5em;
    transition: .5s;
    border: none;
}
.feature-btn > span {
    font-weight: 500;
    font-size: 25px;
}
.feature-btn:hover {
    background-color: #131313;
    color: #FF900E;
}
.feature-img img {
    border-radius: 10px;
}

/* facts styles  */
.facts-wrapper {
    padding-bottom: 130px;
}
.facts-title h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.facts-title p {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
}
.facts-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}
.facts-card {
    border: 2px solid #FF900E;
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    transition: .5s;
}
.facts-card:hover {
    background-color: #131313;
}
.facts-card:hover h3{
    color: #FFFFFF;
}
.facts-card:hover p{
    color: #FFFFFF;
}
.facts-card h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
}
.facts-card p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.facts-card p i {
    font-size: 3em;
    color: #FF900E;
}

/* sponsors styles */
.sponsors-wrapper {
    text-align: center;
    padding-bottom: 130px;
}
.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 30px;
}
.sponsors-text, .service-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sponsors-list {
    margin-top: 60px;
}
.sponsors-list ul {
    display: flex;
    justify-content: space-between;
}
.sponsors-list ul li {
    list-style: none;
}
.sponsors-list ul li img{
    filter: grayscale(100%);
    transition: .5s;
}
.sponsors-list ul li img:hover {
    filter: grayscale(0%);
}

/* footer styles  */
.footer-area {
    padding: 0px 155px 130px 150px;
}
.footer-text {
    background: #FFF4E7;
    text-align: center;
    padding: 1.5em;
    border-radius: 5px;
    font-size: 20px;
}

/* services styles */
.service-wrapper {
    padding-bottom: 130px;
}
.title-area {
    text-align: center;
    padding-bottom: 30px;
}
.service-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.service-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 10px;
}
.service-card {
    background-color: #ffffff;
    padding: 50px 30px;
    border: 1px solid #414141;
    position: relative;
    border-radius: 5px;
    transition: .3s;
}
.service-card:hover {
    box-shadow: 5px 5px 5px 5px #ddd;
}
.service-card h3 {
    margin-bottom: 15px;
    color: #414142;
    font-size: 24px;
}
.service-card p {
    color: #9a9a9a;
    font-size: 18px;
    margin: 15px 0px;
}
.service-card a {
    text-decoration: none;
    color: #414141;
    font-size: 18px;
    transition: .3s;
}
.service-card a:hover {
    color: #FF900E;
}
.service-icon {
    padding-bottom: 15px;
}



/* Responsive Section*/

/* Mobile Devices */
@media screen and (max-width: 576px) {
    .menu {
        display: flex;
    }
    .menu h3 {
        font-size: 20px;
    }
    .menu-list {
        display: grid;
    }
    .menu-list li {
        font-size: 16px;
        margin-top: 8px;
    }
    .header-area {
        padding: 0px;
        padding-top: 10px;
    }
    .header-text {
        padding: 0px;
    }
    .banner-img img {
        max-width: 100%;
    }
    .header-title {
        font-size: 30px;
        margin-top: 85px;
    }
    .team-wrapper {
        display: grid;
        padding: 100px 50px;
    }
    .team-img {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .team-img img {
        max-width: 100%;
    }
    .team-text h3 {
        font-size: 25px;
        margin-top: 15px;
    }
    .feature-wrapper {
        display: grid;
    }
    .feature-title {
        font-size: 35px;
    }
    .feature-text {
        padding: 0px 18px;
    }
    .feature-img img {
        max-width: 100%;
        margin-top: 15px;
    }
    .feature-btn {
        padding: 25px;
        margin-top: .5em;
        font-size: 40px;
        position: static;
    }
    .facts-card-wrapper {
        display: grid;
        gap: 10px;
    }
    .facts-title {
        text-align: center;
    }
    .service-card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 1em;
    }
    .sponsors-list ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2em;
        padding-left: 0px;
    }
    .footer-area {
        padding: 0px 55px 130px 55px;
    }
    .footer-text {
        font-size: 15px;
    }

 } /*closing */

 .hide{
    display: none;
 }