*{
    margin: 0;
    font-family: 'Work Sans';
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

/* header style */
.header-area {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 90px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.menu-list {
    display: flex;
}
.menu-list li {
    list-style: none;
    margin-right: 4em;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.header-text {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding: 100px 200px 50px 200px;
}
.header-text p{
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-img {
    display: block;
    text-align: center;
}

