* {
    margin: 0;
    font-family: 'Work Sans';
}
body {
    font-weight: 400;
}
main{
    width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: .5s;
}
.btn-primary:hover {
    color: #FF900E;
    background-color: #131313;
}

/* header styles */
.header-area {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 90px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.menu-list {
    display: flex;
}
.menu-list li {
    list-style: none;
    margin-right: 4em;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.header-text {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding: 100px 200px 50px 200px;
}
.header-text p {
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.banner-img {
    display: block;
    text-align: center;
}

/* team styles */
.team-wrapper {
    display: flex;
    align-items: center;
    padding: 100px 100px;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-text {
    margin-left: 3em;
}
.team-text h3 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.team-text h3 > span {
    font-weight: 700;
    color: #131313;
}
.team-text .fea-color {
    color: #FF900E;
}
.team-text p {
    padding: 24px 0px;
}

/* feature styles  */
.feature-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.feature-text {
    padding-right: 12em;
    padding-left: 0;
}
.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 3px solid #FF900E;
    padding-left: 15px;
}
.feature-overview {
    color: #727272;
    padding: 15px 0px;
}
.feature-solo-item {
    margin-top: 20px;
    background: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
    padding: 40px 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.feature-solo-item h4 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.feature-solo-item p {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
}
.feature-btn {
    padding: 35px;
    border-radius: 10px;
    background-color: #FF900E;
    border: 1px solid #131313;
    font-weight: 700;
    font-size: 65px;
    line-height: 30px;
    position: absolute;
    left: 11.5em;
    top: 47.5em;
    transition: .5s;
}
.feature-btn > span {
    font-weight: 500;
    font-size: 25px;
}
.feature-btn:hover {
    background-color: #131313;
    color: #FF900E;
    border: 1px solid #FF900E;
}
.feature-img img {
    border: 1px solid #000;
    border-radius: 10px;
}

/* facts styles  */
.facts-wrapper {
    padding-bottom: 100px;
}
.facts-title h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.facts-title p {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
}
.facts-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}
.facts-card {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}
.facts-card h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.facts-card p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}